@model IEnumerable<ProyectoVeterinariaG8.DAL.RazaMascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Raza de Mascotas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear nueva Raza de Mascota</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMascota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMascota.Descripcion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.RazaId" class="btn btn-outline-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.RazaId" class="btn btn-outline-secondary btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.RazaId" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
