@model IEnumerable<ProyectoVeterinariaG8.DAL.MascotaVacuna>

@{
    ViewData["Title"] = "Vacunas";
}

<h1>Vacunas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Vacuna</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacunaId" class="btn btn-outline-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VacunaId" class="btn btn-outline-secondary">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.VacunaId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
