@model ProyectoVeterinariaG8.DAL.Mascota

@{
    ViewData["Title"] = "Crear Mascota";
}

<h1>Crear Mascota</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class ="form-control">
                    <option value="" disabled selected>Seleccionar Tipo</option>
                    @foreach (var tipo in ViewBag.TiposRazas)
                    {
                        <option value="@tipo.TipoId">@tipo.Descripcion</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RazaId" class="control-label"></label>
                <select asp-for="RazaId" class ="form-control">
                    <option value="" disabled selected>Seleccionar Raza</option>
                    @foreach (var tipo in ViewBag.TiposRazas) {
                        @foreach (var raza in tipo.RazasMascota)
                        {
                            <option value="@raza.RazaId" data-tipo-id="@tipo.TipoId" style="display:none;">@raza.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control">
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioPropietarioId" class="control-label"></label>
                <select asp-for="UsuarioPropietarioId" class="form-control" asp-items="ViewBag.UsuariosPropietario"></select>
                <span asp-validation-for="UsuarioPropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacionId" class="control-label"></label>
                <select asp-for="UsuarioCreacionId" class="form-control" asp-items="ViewBag.UsuariosCreacion"></select>
                <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen de la Mascota</label>
                <input type="file" accept="image/png" name="imagen" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tipo = document.getElementById('TipoId');
            var raza = document.getElementById('RazaId');
            var tipoAnterior = tipo.value;

            function filtrarRazas() {
                var tipoSeleccionado = tipo.value;
                var opcionesRaza = raza.options;

                if (tipoSeleccionado != tipoAnterior) {
                    tipoAnterior = tipoSeleccionado;
                    raza.value = '';
                }

                for (var i = 0; i < opcionesRaza.length; i++) {
                    var tipoId = opcionesRaza[i].getAttribute('data-tipo-id');

                    if (tipoId === tipoSeleccionado) {
                        opcionesRaza[i].style.display = 'block';
                    } else {
                        opcionesRaza[i].style.display = 'none';
                    }
                }
            }

            filtrarRazas();

            tipo.addEventListener('change', filtrarRazas);
        });
</script>
}
