@model ProyectoVeterinariaG8.DAL.Cita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechayHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechayHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerVeterinarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerVeterinarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoVeterinarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoVeterinarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticoCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticoCita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCita.DescripcionCita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CitaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
