@model ProyectoVeterinariaG8.DAL.ApplicationUser

@{
    ViewData["Title"] = "Detalles Usuario";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaUltimaConexion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaUltimaConexion)
        </dd>
        @{
            var roles = ViewBag.Roles as List<string>;
            if (roles != null && roles.Any())
            {
                <dt class="col-sm-2">Roles</dt>
                <dd class="col-sm-10">
                    @foreach (var role in roles) {@role<text> </text>}
                </dd>
            }
        }
        <hr />
    </dl>
</div>
<div>
    <a asp-action="EditUser" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="HomeAdministrador" class="btn btn-secondary">Volver</a>
</div>
