@model IEnumerable<ProyectoVeterinariaG8.DAL.MascotaImagen>

@{
    ViewData["Title"] = "Imagenes Mascotas";
}

<h1>Imágenes Mascotas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Imagen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota.MascotaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                </td>
                <td>
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Imagen))" alt="Imagen de @Html.DisplayFor(modelItem => item.Mascota.Nombre)" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mascota.MascotaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImagenId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ImagenId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ImagenId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
