@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a class=" btn btn-info text-white" asp-area="" asp-controller="Mascotas" asp-action="Index">Mascotas</a>

    <a class="btn btn-success text-white" asp-area="" asp-controller="Citas" asp-action="Create">Nueva Cita</a>

</div>
<hr />
<h2>Asignacion de citas</h2>
<hr />
<h3>Citas Proximas Veterinario Principal</h3>
<div class="row">
    @foreach (var citas in ViewBag.ProximasPrimero)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Detalles de la cita</a>
                    <a href="@Url.Action("Edit","Citas", new { id = citas.CitaId })" class="btn btn-secondary">Editar Cita</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3>Citas Proximas Veterinario Secundario</h3>
<div class="row">
    @foreach (var citas in ViewBag.ProximasSecundario)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Detalles de la cita</a>
                    <a href="@Url.Action("Edit","Citas", new { id = citas.CitaId })" class="btn btn-secondary">Editar Cita</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3>Historial de citas Veterinario Principal</h3>
<br />
<div class="row">
    @foreach (var citas in ViewBag.HistorialPrimero)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Detalles de la cita</a>
                    <a href="@Url.Action("Edit","Citas", new { id = citas.CitaId })" class="btn btn-secondary">Editar Cita</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3>Historial de citas Veterinario Secundario</h3>
<br />
<div class="row">
    @foreach (var citas in ViewBag.HistorialSecundario)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Detalles de la cita</a>
                    <a href="@Url.Action("Edit","Citas", new { id = citas.CitaId })" class="btn btn-secondary">Editar Cita</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
