@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a class=" btn btn-info text-white" asp-area="" asp-controller="Mascotas" asp-action="Index">Mascotas</a>
</div>

<hr />
<h2>Asignacion de citas</h2>
<hr />
<h3>Proximas citas</h3>

<div class="row">
    @foreach (var citas in ViewBag.Proximas)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Ver detalle</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3>Historial de citas</h3>
<br />
<div class="row">
    @foreach (var citas in ViewBag.Historial)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fecha y Hora: </strong> @citas.FechayHora</h5>
                    <p class="card-text"><strong>Descripcion: </strong> @citas.DescripcionCita</p>
                    <a href="@Url.Action("Details","Citas", new { id = citas.CitaId })" class="btn btn-primary">Ver detalle</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />