@model IEnumerable<ProyectoVeterinariaG8.DAL.MascotaPadecimiento>

@{
    ViewData["Title"] = "Padecimientos";
}

<h1>Listado de Padecimientos de Mascota</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Agregar Padecimiento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.MascotaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PadecimientoId" class="btn btn-outline-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PadecimientoId" class="btn btn-outline-secondary btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PadecimientoId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
